* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  box-sizing: border-box;
}
main {
  background: linear-gradient(to top, rgba(2, 2, 97, 0.5), rgba(2, 2, 97, 0.5)),
    url(/public/imgs/robot-6753999.jpg);
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
nav {
  width: 100%;
  background-color: white;
  padding: 1rem;
  position: fixed;
  top: 0;
}
nav .logo {
  color: #05059c;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.chatIcon {
  height: 50px;
  width: 50px;
  background-color: white;
  box-shadow: 1px 1px 8px grey;
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  border-radius: 5px;
  border: none;
}
.chatIcon .icon {
  color: #05059c;
  font-size: 20px;
}
.chatbot-container {
  position: fixed;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 1s;
}
.hidden {
  transform: translateX(100%);
}
.chatbot {
  height: 500px;
  width: 400px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 8px #8080809c;
  position: relative;
  overflow: auto;
}
.chatbot .header {
  background-color: white;
  padding: 1rem;
  box-shadow: 0px 8px 12px #ebebeb;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: #05059c;
  position: sticky;
  top: 0;
}
.chat-body {
  margin: 0.5rem;
  height: 400px;
}
.msg-bot {
  /* background-color: #05059c; */
  border-left: 3px solid #05059c;
  /* color: white; */
  font-size: 16px;

  font-weight: 600;
  width: 100%;
  padding: 0 0.5rem;
  display: block;
  float: left;
  /* border-radius: 30px; */
  margin-bottom: 1rem;
}
.msg-user {
  /* background-color: whitesmoke; */
  border-left: 3px solid #000;
  font-size: 16px;
  color: #05059c;
  font-weight: 600;
  width: 100%;
  padding: 0.5rem;
  /* border-radius: 30px; */
  float: right;
  margin-bottom: 1rem;
}

.msg-container {
  position: sticky;
  bottom: 0;
  background-color: #fff;
  box-shadow: 0px -2px 24px #ebebeb;
  padding: 0.5rem 1rem;
  width: 100%;
  display: flex;
  justify-content: end;
}
#msgForm {
  width: 95%;
  border-radius: 20px;
  display: flex;
  background-color: #ebebeb;
  /* border: 1px solid #05059c; */
  padding: 0 0.5rem;
}
#msg {
  width: 95%;
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  outline: none;
  margin-right: 1rem;
  color: #05059c;
  background-color: transparent;
}
#msgBtn {
  background-color: transparent;
  color: #05059c;
  border: none;
  outline: none;
  cursor: pointer;
}
